.test {
  position: absolute;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Menu Icon
.hamburger,
.hamburger:before,
.hamburger:after {
  border-radius: 23px;
  background: white;
  position: absolute;
  display: block;
  content: '';
  transition: all 500ms ease-in-out;
}

.hamburger {
  width: 60%;
  height: 10%;
}

.hamburger:before,
.hamburger:active::before {
  top: -2vmin;
  height: 100%;
  width: 100%;
}
.hamburger:after,
.hamburger:active::after {
  bottom: -2vmin;
  height: 100%;
  width: 100%;
}

.icon:hover .hamburger:before {
  width: 80%;
}
.icon:hover .hamburger:after {
  width: 80%;
}

.hamburger-active {
  background-color: transparent;
  transform: scale(1.2);
  transition: all 300ms ease-in-out;
}

.hamburger-active:before,
.hamburger-acive:after {
  top: 0px;
}

.hamburger-active:before {
  transform: rotate(45deg);
  width: 100%;
}
.hamburger-active:after {
  transform: rotate(-45deg);
  top: 0px;
  width: 100%;
}

.icon:hover .hamburger-active:before {
  width: 100%;
}
.icon:hover .hamburger-active:after {
  width: 100%;
}

// Menu Icon

.navigation {
  position: absolute;
  width: 100%;
  max-height: 0px;
  top: 88%;
  margin: var(--margin-lg);
  z-index: 0;
  visibility: hidden;
  transition: max-height 1s, visibility 0.5s;
}

.navigation li {
  visibility: hidden;
  transition: visibility 0.2s;
}

.open li {
  visibility: visible;
}

.nav {
  z-index: 2;
}

.logo {
  z-index: 1;
}

.open {
  visibility: visible;
  max-height: 1000px;
}

main {
  flex: 1 0 auto;
}

// .about {

//   &-skills {
//       &-sub {
//         &-item {
//         }
//       display: grid;
//       align-content: center;
//       align-items: center;
//       justify-content: center;
//       justify-items: center;
//       grid-template-columns: repeat(3, 1fr);
//       grid-gap: 4vmin;
//       }
//   }
// }

// .footer {
//   flex-shrink: 0;
// }

.contact {
  display: flex;
  flex-direction: column;
}

// .contact-social {
//   display: grid;
//   grid-gap: 2vmin;
//   grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
//   align-items: stretch;
//   justify-items: stretch;
// }

// Auto Grids
.services {
  &-grid {
    display: grid;
    grid-gap: 1vmin;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.works {
  &-grid {
    display: grid;
    grid-gap: 4vmin;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.project {
  display: grid;
  padding: 0;

  &-left {
    grid-template-columns: 0.65fr 0.35fr;
    grid-template-areas: 'image text';
  }

  &-right {
    grid-template-columns: 0.35fr 0.65fr;
    grid-template-areas: 'text image';
  }

  &-image {
    grid-area: image;
    width: 100%;
  }

  &-text {
    grid-area: text;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

// Tablet
@include tablet {
  // .landing {
  //   display: grid;
  //   grid-template-columns: repeat(8, 1fr);
  //   grid-template-rows: repeat(3, min-content);
  //   // grid-template-areas:
  //   //   "b b b b b s s s"
  //   //   "w w w t t t t t"
  //   //   "w w w a a a a a"
  //   //   "c c c c c c c c";

  //   grid-template-areas:
  //     'b b b b b s s s'
  //     'w w w a a a a a'
  //     'w w w c c c c c';

  //   grid-gap: 5vmin;

  //   &-services {
  //     grid-area: s;
  //   }

  //   &-benefits {
  //     grid-area: b;
  //   }

  //   &-testimonials {
  //     grid-area: t;
  //   }

  //   &-about {
  //     grid-area: a;
  //   }

  //   &-works {
  //     grid-area: w;
  //   }

  //   &-contact {
  //     grid-area: c;
  //   }

  .landing {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, min-content);
    grid-gap: 3vmin;
    grid-template-areas:
      'header header header header header header cost cost cost cost cost cost'
      'changes changes changes changes changes changes changes changes changes changes changes changes'
      'usability usability usability usability usability usability pwa pwa pwa pwa pwa pwa'
      'speed speed speed speed speed speed speed speed speed speed speed speed'
      'testimonial testimonial testimonial testimonial testimonial me me me me me me me'
      'contact contact contact contact contact contact contact contact contact contact contact contact';

    &-header {
      grid-area: header;
    }

    &-cost {
      grid-area: cost;
    }

    &-changes {
      grid-area: changes;
    }

    &-speed {
      grid-area: speed;
    }

    &-usability {
      grid-area: usability;
    }

    &-pwa {
      grid-area: pwa;
    }

    &-me {
      grid-area: me;
    }

    &-testimonial {
      grid-area: testimonial;
    }

    &-contact {
      grid-area: contact;
    }
  }

  .about {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, min-content);
    grid-template-areas:
      'blurb blurb skills skills'
      'intro intro intro intro'
      'user user user user'
      'business business business business'
      'responsive responsive responsive responsive'
      'fast fast fast fast'
      'contact contact contact contact';
    grid-gap: 5vmin;

    &-blurb {
      grid-area: blurb;
    }

    &-skills {
      grid-area: skills;
    }

    &-intro {
      grid-area: intro;
    }

    &-user {
      grid-area: user;
    }

    &-business {
      grid-area: business;
    }

    &-responsive {
      grid-area: responsive;
    }

    &-fast {
      grid-area: fast;
    }

    &-contact {
      grid-area: contact;
    }
  }

  .benefits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
      'i i i '
      'd q c'
      'co co co';
    grid-gap: 5vmin;

    &-intro {
      grid-area: i;
    }

    &-demand {
      grid-area: d;
    }

    &-questions {
      grid-area: q;
    }

    &-competitors {
      grid-area: c;
    }

    &-contact {
      grid-area: co;
    }
  }

  .services {
    display: grid;
    grid-gap: 5vmin;

    &-grid {
      grid-gap: 5vmin;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
  }

  .works {
    display: grid;
    grid-gap: 5vmin;

    &-grid {
      grid-auto-rows: 450px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }

  .contact {
    display: grid;
    grid-gap: 3vmin;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .contact-form {
    grid-column: 2 / 4;
    grid-row: 1 / -1;
  }
  // .footer {
  //   height: 5vh;
  //   display: grid;
  //   grid-template-columns: repeat(3, 1fr);
  // }

  .contact-social {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

@include desktop {
  .landing {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, min-content);
    grid-gap: 3vmin;
    grid-template-areas:
      'header header header header header header header header header cost cost cost'
      'changes changes changes changes changes changes changes changes changes changes changes changes'
      'speed speed speed speed usability usability usability usability pwa pwa pwa pwa'
      'testimonial testimonial testimonial me me me me me me me me me'
      'contact contact contact contact contact contact contact contact contact contact contact contact';

    &-header {
      grid-area: header;
    }

    &-cost {
      grid-area: cost;
    }

    &-changes {
      grid-area: changes;
    }

    &-speed {
      grid-area: speed;
    }

    &-usability {
      grid-area: usability;
    }

    &-pwa {
      grid-area: pwa;
    }

    &-me {
      grid-area: me;
    }

    &-testimonial {
      grid-area: testimonial;
    }

    &-contact {
      grid-area: contact;
    }
  }

  .about {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
      'blurb blurb skills skills'
      'intro intro intro intro'
      'user user business business'
      'responsive responsive fast fast'
      'contact contact contact contact';
    grid-gap: 5vmin;

    &-blurb {
      grid-area: blurb;
    }

    &-skills {
      grid-area: skills;

      &-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, min-content);
        grid-gap: 1vmin 2vmin;
      }
    }

    &-intro {
      grid-area: intro;
    }

    &-user {
      grid-area: user;
    }

    &-business {
      grid-area: business;
    }

    &-responsive {
      grid-area: responsive;
    }

    &-fast {
      grid-area: fast;
    }

    &-contact {
      grid-area: contact;
    }
  }

  .works-grid {
    grid-auto-rows: 600px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  .contact-social {
    grid-template-columns: repeat(6, 10vmin);
    justify-content: center;
    align-content: center;
  }

  .service {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    align-content: center;
    justify-items: center;
    align-items: center;
    justify-content: center;

    &-left {
      grid-template-areas: 'image image text text text';
    }

    &-right {
      grid-template-areas: 'text text text image image';
    }

    &-image {
      grid-area: image;
    }

    &-text {
      grid-area: text;
    }
  }
}
